@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background: #efeeee;
  font-family: 'Raleway', sans-serif !important;
}

html { overflow-y: scroll; }

a:link{
  color: #4E4E4E;  
}

.header{
  color: cornsilk;
  background-color: #292929 !important;
}

.navbar-collapse{
  background-color: #292929 !important;
    -webkit-box-shadow:0px 1px 1px #de1dde;
 -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow: 0px 3px 20px black;
}

a:hover{
  text-decoration: none;
}

/* clear fix */
.normal{
  text-decoration: none !important;
  color: #55485D;
}

.price{
  color: crimson;
}
.navbar-nav>li>a {
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    color: cornsilk;
}
.navbartitle{
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
}
.stock{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.stock:after {
  content: '';
  display: block;
  clear: both;
}

span.product_details {
  background: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
  display: block;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  font-size: 1.2em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding:10px;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.bagi a:hover span.product_details {
  opacity: 1;
}

.jumbotron{
  color: #272727 !important;
  padding-right: 10%
  padding-left:10%;
  position: relative;
    overflow: hidden;
}
.jumbotron img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}
.jumbotron p{
  color: #5a5850;
}
.navbar-collapse .collapse{
  background-color: whitesmoke !important;
}
.navbar-nav>li>a:active {
    background-color: black !important;
    font-weight: bold;
    font-weight: 800 !important;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
  
.container{
  background: #efeeee;
  width:90%;
}
/* ---- .bagi ---- */

.grid-sizer,
.bagi {
  width: 22%;
  border: 1px solid #D2CECE;
  padding: 1%;
  background: #ffffff;
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
}

.bagi {
  float: left;
}

.bagi img {
  display: block;
  max-width: 100%;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: #292929 !important;
}
.jumbotron .btn {
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ffffff;
  color: black;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
  color:orangered;
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}


@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 1000px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .bagi {
    width: 31%;
    border: 1px solid #D2CECE;
    padding: 1%;
    background: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  /* Remove the padding we set earlier */
  .bagi {
    width: 45%;
    border: 1px solid #D2CECE;
    padding: 1%;
    background: #ffffff;
  }
}

@media screen and (max-width: 400px) {
  /* Remove the padding we set earlier */
  .bagi {
    width: 95%;
    border: 1px solid #D2CECE;
    padding: 1%;
    background: #ffffff;
  }
}
