{% extends "base.html" %}

{% block title %}
	{{title}}
{% endblock %}

{% block description %}{{record.description}}{% endblock %}

{% block content %}
{% load thumbnail %}

<div class="bag row">
<hr>
	<div class="col-sm-6">
		<div class="panel">
			<div class="panel-heading">
				<img src="http://app.wamupay.co.ke/uploads/products/{{record.photo}}" width="100%">
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>{{record.name}}</h2>
			</div>
			<div class="panel-body">
		    	<blockquote>KSH {{record.price}} </blockquote>
		  	</div>
		  	<div class="panel-footer">
		  		<p>{{record.descrip}}</p>
		  	</div>
					
					
		</div>
	</div>
	<hr>
	<div class="col-sm-6">
		<div class="panel panel-success">
			<div class="panel-heading">
				<p>Business Name: {{supermarket.name}}</p>
			</div>
			<div class="panel-body">
				<p>{{supermarket.description}}</p>
				<p>{{supermarket.email}}</p>
				<p>{{supermarket.location}}</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}